<?xml version="1.0"?>

<robot name="kuka_pedestal" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find pedestals_description)/urdf/kuka_pedestal_description.xacro" />
  <!-- <xacro:include filename="$(find lbr_description)/urdf/iiwa14/iiwa14.xacro" /> -->

  <!-- Instantiate the pedestal -->
  <xacro:kuka_pedestal />

</robot>